@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@842&display=swap');

body{
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    cursor: ;
}

#runButton{
    all:unset;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 842;
    font-style: normal;
    height: 70px;
    width: 200px;
    font-size: 120%;
    border-radius: 100px;
    text-align: center;
    background-color: #000;
    color: white;
    contain: strict;
    cursor: none;
}

#runButton p{
    z-index: 0;
}

liquid{
    z-index: 2;
    position: absolute;
    height: 150%;
    width: calc(100% / 8);
    background-color: black;
    border-radius: 400px;
    top: -150%;
}

lcont{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    contain: strict;
}

liquid:nth-child(1){
    left: calc(100% / 8 * 0);
}
liquid:nth-child(2){
    left: calc(100% / 8 * 1);
}
liquid:nth-child(3){
    left: calc(100% / 8 * 2);
}
liquid:nth-child(4){
    left: calc(100% / 8 * 3);
}
liquid:nth-child(5){
    left: calc(100% / 8 * 4);
}
liquid:nth-child(6){
    left: calc(100% / 8 * 5);
}
liquid:nth-child(7){
    left: calc(100% / 8 * 6);
}
liquid:nth-child(8){
    left: calc(100% / 8 * 7);
}
liquid:nth-child(9){
    left: calc(100% / 8 * 8);
}

div[class*='kursor'].kursor--1.--hover{
    background: rgba(0, 191, 255, .7) !important;
}
#mainTitle{
    postition: absolute;
    color: #FFF;
    z-index: 3;
}